
.nav{
  text-align: center;
  font-size:2rem;
  font-weight: bolder;
  padding-top: 20px;
  background-color:darkslateblue;
  color:white;
  padding-bottom: 20px;

}

.fill{
  padding-top: 30px;
  padding-left: 600px;
  background-color:darkslateblue;
  

}

.al{
  color:white;
  background-color:darkslateblue;
  font-weight:bolder;
  border-radius: 7px;
  

}

.dev{
  color:white;
  background-color:darkslateblue;
  font-weight:bolder;
  border-radius: 7px;
  
}

.des{
  color:white;
  background-color:darkslateblue;
  font-weight:bolder;
  border-radius: 7px;
}

.bus{
  color:white;
  background-color:darkslateblue;
  font-weight:bolder;
  border-radius: 7px;
  /* grid-template: 20px 20px 20px;
  display: grid;
  gap:20px; */
}
.life{
  color:white;
  background-color:darkslateblue;
  font-weight:bolder;
  border-radius: 7px;
}

